html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-family: 'montserrat', sans-serif;
    min-height: 100%;
    background-image: url(../img/ucl.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    font-size: 14px;
    justify-content: center;
   
}
.banner a{
    display: flex;      
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: center;
}
img{
    width: 300px;
    height: 281,022930;
    justify-content: center;
   
}
.container-form{  
    position: relative;
    padding: 16px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    text-transform: uppercase;  
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.7);  
}
h1 {
    text-align: center;
   
}
.tabla{  
   
    text-align: center;  
    padding: 5px;  
}
.botones{    
    justify-content: center;
    position: relative;  
    align-content: center;
    padding-top: 10px;
    justify-content: space-between;
    height: 50px;  
}