html{
    box-sizing: border-box;
    min-height: 100%;
    font-size: 100%;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'montserrat', sans-serif;
    min-height: 100%;
    background-image: linear-gradient(135deg, #f5f7fa, #c3cfe2 100%);    
    font-size: 1.4rem;
}

h1, h2, h3 {
    margin: 0;
}

.site-header{
    background-color: rgb(243, 243, 243);
}

.site-header nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (min-width: 768px) { /* Modo responsive*/
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;

    }
}
.site-header nav a{
    color: rgb(136, 1, 170);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 2 removed;    
}
.site-header nav a:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) { /* Modo responsive*/
    .site-header nav a{
        margin-bottom: 0;
    }
}

.hero{
    
    height:100vh;
    background-image: url(../img/img1.jpg);       
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

 
.hero::after{ /* capa de opacidad */
    content: '';
    background-color: rgba(11, 43, 1, 0.5); /*a= opacidad*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenedor-hero{
    color: white;
    position: center center;
    z-index: 1; /* Posición (adelante= 1 / atras= -1) */
    text-align: center;
}

.contenedor-hero i{
    font-size: 25px;
    color: var(--primario)
}

.botton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 10rem;
    color: white;
    text-decoration: none; /*elimina linea de vinculo*/
    text-transform: uppercase; /*mayuscula - minuscula*/
    font-weight: 700; /*crea el bold a las fuentes*/
    font-size: 2rem; /*Tamaño fuente (modifica tamaño botón)/*
    border-radius: 1rem; /*curvas botones*/    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .form-register{
        width: 400px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4x;
        font-family: 'montserrat';
        color: white;
        box-shadow: 7px 13px 37px #000;
        position: center center;
    }

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;        
    }

    .controls {
        width: 100%;
        background: #a8a8a8;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #032506;
        font-family: 'montserrat';
        font-size: 16px;

    }

    .form-register p {
        height: 30px;
        text-align: center;
        font-size: 16px;
        color: white;
    }

    .form-register a {
        color: white;
        text-decoration: none;
    }

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

    .form-register .botons {
        width: 100%;
        background: #00a80e;
        border: none;
        padding: 12px;
        color: white;
        margin: 20px 0;
        font-size: 16px;
        font-weight: 700;
    }



